body {
  background-color: red; }

.btn {
  border-radius: 0; }

.table-hover tr {
  cursor: pointer; }

.border {
  border: solid red 1px; }

body {
  background-color: #eee; }

.clear {
  clear: both; }

.panel, .panel-heading {
  border-radius: 0;
  box-shadow: none; }

/*
.panel-primary-ice
{
    border:solid #75D8CD 1px;
    color:#fff;
}

.panel-primary-ice .panel-heading
{
    background-color:#75D8CD;

}
*/
.widget-wrapper {
  background-color: #fefefe; }

.ice-nav-tabs-wrapper .tab-content {
  background-color: #fff; }
