.table-hover tr 
{
    cursor: pointer;
}

.border
{
    border:solid red 1px;
}

body
{
    background-color:#eee;
}

.clear
{
    clear:both;
}

.panel, .panel-heading
{
    border-radius:0;
    box-shadow: none;
}

/*
.panel-primary-ice
{
    border:solid #75D8CD 1px;
    color:#fff;
}

.panel-primary-ice .panel-heading
{
    background-color:#75D8CD;

}
*/

.widget-wrapper
{
    background-color:#fefefe;
}






.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}

.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}